.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

div {
  font-family: "Courgette", cursive;
  font-family: "Niconne", cursive;
}

.abt-us {
  font-size: 25px;
}

.form-control,
.form-select,
.btn {
  font-size: 1.5rem;
}
